@charset "UTF-8";

body {
    background-color: rgb(230, 226, 173);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(157, 165, 42);
    background-color: rgb(255, 0, 0);
}
h2 {
    color: rgb(188, 140, 210);
}
p {
    text-align: justify;
}
