@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #D8B08C, #FFCB9A);
}

main {
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
    background-color: white;
    border-radius: 10px;
    background-color: white;
    width: 500px; 
    margin: auto;padding: 10px;
}

h1 {
    color: #03A688;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(136, 109, 93, 0.616);
}

h2 {
    color: #026873;
}

p {
    text-align: justify;
}

